{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "eol-last": [1],
    // negeer de volgende rules
    "quotes": [0],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0]
  }
}
