<h2 *ngIf="isNew()" class="sub-header">Create a new expense</h2>
<h2 *ngIf="!isNew()" class="sub-header">Edit expense</h2>

<form [formGroup]="expenseForm" (ngSubmit)="saveOrUpdate(expenseForm.value)" class="ui form">

  <div class="field">
    <label for="nameInput">Name:</label>
    <input type="text" id="nameInput" placeholder="Name" formControlName="name">
  </div>

  <div class="three fields">

    <div class="field">
      <label for="amountInput">Amount:</label>
      <input type="text" id="amountInput" placeholder="Amount" formControlName="amount">
    </div>

    <div class="field">
      <label for="currencyInput">Currency:</label>
      <select class="ui dropdown" id="currencyInput" formControlName="currency" placeholder="Currency">
        <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
      </select>
    </div>

    <div class="field">
      <label for="vatInput">VAT:</label>
      <select class="ui dropdown" id="vatInput" formControlName="vat" placeholder="VAT">
        <option *ngFor="let vatRate of vatRates" [value]="vatRate">{{ vatRate }}</option>
      </select>
    </div>

  </div>

  <div class="two fields">

    <div class="field">
      <label for="invoiceDateInput">Invoice date:</label>
      <input type="date" id="invoiceDateInput" placeholder="Invoice date" formControlName="invoiceDate">
    </div>

    <div class="field">
      <label for="paymentDateInput">Payment date:</label>
      <input type="date" id="paymentDateInput" placeholder="Payment date" formControlName="paymentDate">
    </div>

  </div>

  <div class="two fields">

    <div class="twelve wide field">
      <label for="categoryInput">Category:</label>
      <input type="text" id="categoryInput" placeholder="Category" formControlName="category">
    </div>

    <div class="four wide field">
      <label for="indexNumberInput">Index number:</label>
      <input type="text" id="indexNumberInput" placeholder="Index number" formControlName="indexNumber">
    </div>

  </div>

  <div class="field">
    <label for="remarkInput">Remark:</label>
    <textarea id="remarkInput" placeholder="Remark" formControlName="remark"></textarea>
  </div>

  <div class="ui buttons">
    <button (click)="cancel()" class="ui button">Cancel</button>
    <div class="or"></div>
    <button [disabled]="!expenseForm.valid" type="submit" class="ui positive button">
      <span *ngIf="isNew()">Create</span>
      <span *ngIf="!isNew()">Update</span>
    </button>
  </div>

</form>
