pre.debug {
  background: lighten(yellow, 30%) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAN37979z4gsBhJQVlZmhAvCBECKwILIAmBBdAGQIADxLROcfhsOlgAAAABJRU5ErkJggg==);
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
