<h2 class="sub-header">
  Expenses
  <button class="btn btn-primary">Add new</button>
</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>VAT</th>
        <th>Invoice date</th>
        <th>Payment date</th>
        <th>Category</th>
        <th>Remark</th>
        <th>Index number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="expense" *ng-for="#expense of expenses">
        <td>{{ expense.id }}</td>
        <td>{{ expense.name }}</td>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.currency }}</td>
        <td>{{ expense.vat }}</td>
        <td>{{ expense.invoiceDate }}</td>
        <td>{{ expense.paymentDate }}</td>
        <td>{{ expense.category }}</td>
        <td>{{ expense.remark }}</td>
        <td>{{ expense.indexNumber }}</td>
        <td class="actions">
          <button class="btn btn-default" [router-link]="['/editexpense', {id: expense.id}]">Edit</button>
          <button class="btn btn-danger" (click)="delete(expense)">Delete</button>
        </td>
        <!--<td><pre>{{expense | json }}</pre></td>-->
      </tr>
      <!--<tr class="no-expenses" [hidden]="expenses.length">
        <td colspan="10">No expenses found</td>
      </tr>-->
    </tbody>
  </table>
</div>
